<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
</style>
*{
	box-sizing: border-box;
}
body{
	max-width: 60em;
	margin:auto;
	display: grid;
	grid-template-columns: 1fr;
  	grid-template-areas: "header" "wrapper" "footer";
  	background-color: #65AFFF;
}
header{
	background-color: #484D6D;
	grid-area: header;
}
header h1{
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	padding: 1em;
	margin: 0em;
	font-size: 28px;
}
section{

	background-color: #3E78B2;
	display: grid;
	grid-area: wrapper;
}
/*table*/
table{
	margin: 1em;
	border-collapse: collapse;
	width: 96%;
}
td, th{
	border:1px solid #484D6D;
	text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

footer{
	background-color: #484D6D;
	grid-area: footer;
	text-align: center;
}