<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
</style>
*{
	box-sizing: border-box;
}
<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
</style>
*{
	box-sizing: border-box;
}
body{
	max-width: 60em;
	margin:auto;
	display: grid;
	grid-template-columns: 1fr;
  	grid-template-areas: "header" "wrapper" "footer";
  	background-color: #65AFFF;
}
header{
	background-color: #484D6D;
	grid-area: header;
}
header h1{
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	padding: 1em;
	margin: 0em;
	font-size: 28px;
}
section{
	background-color: #3E78B2;
	display: grid;
	grid-area: wrapper;
	grid-template-columns: 50% 50%;
  	grid-template-areas: "left right";
}
article .right{
	grid-area: right;
}
.kt,
.nafn,
.mail,
.braut{
	font-family: 'Fira Sans', sans-serif;
	font-size: 22px;
	margin-top: 1em;

}
article .left{
	grid-area: left;
	justify-content: center;
}
article img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    padding:.3em;
    border-radius: 50%;

}
footer{
	background-color: #484D6D;
	grid-area: footer;
	text-align: center;
}